body{
    padding: 50px 0 0 100px;
}

.navbar-container{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    /* margin: 50px 0; */
    align-items: center;
    margin-bottom: 100px;
}


.list{
    display: flex;
    list-style: none;
    position: relative;
    right: 250px;
}

.list-item{
    margin: 0 30px;
    font-family: 'Poppins', sans-serif;
    color: #C7C7C7;
}

.list-item:hover{
    color: #000000;
    font-weight: bold;
    cursor: pointer;
}

div.button-group .nav-button{
    position: relative;
    left: 500px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: #5955B3;
    color: #FFFFFF;
    padding: 15px 30px;
}

.banner-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.banner-container div img{
    width: 900px;
    position: fixed;
    right: 0;
    bottom: 70px;
}

.banner-container>div{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 400px;
}

.nav-button.btn{
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: #5955B3;
    color: #FFFFFF;
    padding: 20px 40px;
}



.heading-text{
    font-family: 'Poppins', sans-serif;
    color: #3C2F60;
    font-size: 60px;
    margin-bottom: 0;
}

.heading-text span{
    color: #5955B3;
}

.description{
    font-family: 'Poppins', sans-serif;
    color: #969696;
    margin-bottom: 90px;
}


/* Mobile Responsiveness */

@media (max-width: 1800px){

    .navbar-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .list{
        position: static;
        justify-content: center;
        align-items: center;
        margin: 0 1em;
    }

    .list-item{
        margin: 0 20px;
    }

    div.button-group .nav-button{
        position: static;
    }

    .banner-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


}


@media (max-width: 1380px){

    .navbar-container{
        flex-direction: column;
    }

    .list{
        margin: 2em 0;
    }

    .list-item{
        margin: 0 20px;
    }

    div.button-group .nav-button{
        position: static;
    }

    .banner-container{
        flex-direction: column-reverse;
        justify-content: center;
    }

    .navbar-container img{
        height: 3em;
    }

    .banner-container div img{
        position: static; 
        width: 600px;       
    }

    .banner-container>div{
        align-items: center; 
        text-align: center;
    }

    .heading-text{
        font-size: 3em;
    }

    .description{
        font-size: 1em;
    }

    body{
        padding: 50px 0;
    }

}

@media (max-width: 650px){

    .list{
        margin: 2em 0;
    }

    .list-item{
        margin: 0 10px;
        font-size: 0.8em;
    }


    .navbar-container img{
        height: 2em;
    }

    .banner-container div img{
        position: static; 
        width: 400px;       
    }


    .heading-text{
        font-size: 2em;
    }

    .description{
        font-size: 0.8em;
        width: 300px;
    }

    div.button-group .nav-button{
        font-size: 0.8em;
    }

    .nav-button.btn{
        font-size: 0.8em;
    }

}

@media (max-width: 450px){

    .list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .list-item{
        margin: 1em 0;
    }

    .banner-container div img{
        width: 250px;       
    }


    .heading-text{
        font-size: 1.5em;
        width: 250px;
    }

    .description{
        font-size: 0.8em;
        width: 200px;
    }

    div.button-group .nav-button{
        font-size: 0.8em;
    }

    .nav-button.btn{
        font-size: 0.8em;
    }

    .banner-container>div{ 
        width: 280px;
    }

}
